* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
  background-color: #F1F1F1;
  padding: 64px;
}

header h1 {
  text-align: center;
  font-size: 60px;
  font-weight: 400;
}

.Nb-content {
  /* border: 1px solid red; */
  padding: 20px;
  max-width: 1400px;
}

.second {
  /* border: 1px solid green; */
  float: left;
  width: 70%;
  padding-right: 20px;
}

h2 {
  font-weight: 400;
  font-size: 40px;
}

img {
  width: 100%;
}

.justify {
  /* border: 1px solid red; */
  text-align: justify;
}

.third {
  /* border: 1px solid green; */
  float: left;
  width: 30%;
}

.container {
  background-color: #F1F1F1;
  text-align: justify;
  font-size: 15px;
  padding: 20px;
}